<ion-header>
  <ion-toolbar color="dark">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <form #centro id="centro">
    <ion-item lines="full">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input name="login" type="text" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Senha</ion-label>
      <ion-input name="senha" type="password" [(ngModel)]="senha"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button color="dark" type="submit" (click)="loginUsuario()">
        Login<ion-icon slot="end" name="enter-outline"></ion-icon>
        </ion-button>
        <ion-button color="dark" type="submit" (click)="InsereUsuario()">
          Cadastro<ion-icon slot="end" name="enter-outline"></ion-icon>
          </ion-button>
      </ion-col>
    </ion-row>
  
  </form>
  
  

</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>Developer: Robson Castro</ion-title>
  </ion-toolbar>
</ion-footer>